<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eday.mapper.BoardMapper">
    <insert id="insert">
        insert into tbl_board (bno, title, content, writer)
        values (seq_board.nextval, #{title}, #{content}, #{writer})
    </insert>
    <select id="read" resultType="org.eday.domain.BoardVO">
        select * from tbl_board where bno = #{bno}
    </select>
</mapper>