<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eday.mapper.ChallengeMapper">
	<!-- 챌린지 생성 -->
    <insert id="create" parameterType="org.eday.domain.ChallengeVO">
    	<selectKey keyProperty="challenge_id" order="BEFORE" resultType="String">
    		select challenge_seq.nextval from dual
    	</selectKey>
        insert into challenge (challenge_id, regdate, startdate, finishdate, detail, owner_id, subject_id, subject)
        values (#{challenge_id}, TO_DATE(sysdate, 'YYYY-MM-DD'), TO_DATE(#{startDate}, 'YYYY-MM-DD'),
        TO_DATE(#{finishDate}, 'YYYY-MM-DD') , #{detail}, #{owner_id}, #{subject_id}, #{subject})
    </insert>
    
    <!-- 챌린지 생성과 동시에 멤버 추가 && 챌린지 신청 -->
    <insert id="createChallengeMember" parameterType="org.eday.domain.ChallengeMemberVO">
    	insert into challenge_member_relation (challenge_id, member_id) 
    	values (#{challenge_id},  #{member_id})
    </insert>
    
    <!-- 챌린지 1개 조회 -->
    <select id="readChallenge" resultType="org.eday.domain.ChallengeVO">
    	select * from challenge where challenge_id = #{challenge_id}
    </select>
    
    <!-- 챌린지  내용 수정 -->
    <update id="update">
    	update challenge 
    	set startdate = #{startDate}, 
    	finishdate = #{finishDate}, 
    	detail = #{detail}
    	where challenge_id = #{challenge_id}
    </update>
    
    <!-- 회원수 가져오기 -->
    <select id="countChallengeMember">
    	select count(*) from challenge_member_relation 
    	where challenge_id = #{challenge_id}
    </select>
    
    <!-- <select id="getChallengeList" resultType="org.eday.domain.ChallengeVO">
    	<![CDATA[
    		select ch.challenge_id, ch.owner_id, ch.regdate, ch.startdate, ch.finishdate, ch.detail,
			s.subject_id, s.subject, s.catergory_id, s.subject_color, ca.category_title 
			from subject s, categories ca, challenge ch where s.catergory_id = ca.catergory_id and
			ch.subject_id = s.subject_id and startdate < sysdate;
    	]]>
    </select> -->
    
    
    <!-- 이미 진행중인 챌린지 -->
    <select id="getIngChallengeList" resultType="org.eday.domain.Challenge_ListDTO">
    	<![CDATA[
    		select ch.challenge_id, ch.regdate, ch.startdate, ch.finishdate, ch.detail, 
			ch.owner_id, ch.subject, s.subject_id, s.catergory_id, s.subject_color, 
			(select count(*) from challenge_member_relation mem group by challenge_id having mem.challenge_id = ch.challenge_id) as challenge_attendant 
			from challenge ch 
			inner join subject s on ch.subject_id = s.subject_id where sysdate > startdate
    	]]>
    </select>
   
</mapper>