<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eday.mapper.ChallengeMapper">
	<!-- 챌린지 생성 -->
    <insert id="create" parameterType="org.eday.domain.ChallengeVO">
    	<selectKey keyProperty="challenge_id" order="BEFORE" resultType="String">
    		select challenge_seq.nextval from dual
    	</selectKey>
        insert into challenge (challenge_id, regdate, startdate, finishdate, detail, owner_id, subject_id)
        values (#{challenge_id}, TO_DATE(sysdate, 'YYYY-MM-DD'), TO_DATE(#{startDate}, 'YYYY-MM-DD'),
        TO_DATE(#{finishDate}, 'YYYY-MM-DD') , #{detail}, #{owner_id}, #{subject_id})
    </insert>
    
    <!-- 챌린지 생성과 동시에 멤버 추가 -->
    <insert id="createChallengeMember" parameterType="org.eday.domain.ChallengeMemberVO">
    	insert into challenge_member_relation (challenge_id, member_id) 
    	values (#{challenge_id},  #{member_id})
    </insert>
    
    <!-- 챌린지 1개 조회 -->
    <select id="readChallenge" resultType="org.eday.domain.ChallengeVO">
    	select * from challenge where challenge_id = #{challenge_id}
    </select>
    
    <!-- 챌린지  내용 수정 -->
    <update id="update">
    	update challenge 
    	set startdate = #{startDate}, 
    	finishdate = #{finishDate}, 
    	detail = #{detail}
    	where challenge_id = #{challenge_id}
    </update>
</mapper>