<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.eday.mapper.MemberMapper">

	
	<resultMap type="org.eday.domain.MemberVO" id="memberMap">
	
			<id column="member_id" property="member_id"/>
		
		<result column="member_id" property="member_id"/>
		
		<result column="email" property="email"/>
		
		<result column="pw" property="pw"/>
		
		<result column="member_name" property="member_name"/>
		<result column="nickname" property="nickname"/>
		<result column="deleted_flag" property="deleted_flag"/>

		<result column="photo_name" property="photo_name"/>
		<result column="upload_path" property="upload_path"/>
		<result column="badge_id" property="badge_id"/>
		
		<collection property="authList" resultMap="authMap"> </collection>

	</resultMap>
	
	<resultMap type="org.eday.domain.AuthVO" id="authMap">

		<result column="email" property="email"/>

		<result column="auth" property="auth"/>

	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select m.member_id, m.email, m.pw, m.member_name, a.auth ,m.nickname,m.badge_id
		from members m , auth a 
		where m.email = a.email
			and m.email = #{username} 
	</select>
	
	<select id="loggedIn" resultType="org.eday.domain.MemberVO">
		select *
		from members
		where email=#{email}
	</select>
	
	<insert id="signUp" parameterType="org.eday.domain.MemberVO">
		insert into members (member_id, member_name, email, pw, nickname, deleted_flag)
		values (members_seq.nextval, #{member_name}, #{email}, #{pw}, #{nickname}, #{deleted_flag}) 
	</insert>
	
	
	<insert id="insertAuth" parameterType="org.eday.domain.AuthVO">
		insert into auth (email) values (#{email}) 
	</insert>
	
	

</mapper>
