<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.eday.mapper.PostMapper">

<insert id="insertPost">
	INSERT INTO Post(post_id, detail, regdate, member_id) VALUES(post_seq.nextval, #{detail}, sysdate, #{member_id})
</insert>

<select id="searchHashtag" resultType="org.eday.domain.HashtagVO">
	SELECT * FROM Hashtag
	WHERE hashtag||keyword like '%'||#{keyword}||'%'
</select>

</mapper>